<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.system.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.exam.system.entity.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="user_type" property="userType"/>
        <result column="student_no" property="studentNo"/>
        <result column="teacher_no" property="teacherNo"/>
        <result column="dept_name" property="deptName"/>
        <result column="class_id" property="classId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="deleted" property="deleted"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE id = #{id} AND deleted = 0
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE username = #{username} AND deleted = 0
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM sys_user
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%') OR real_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="userType != null">AND user_type = #{userType}</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="classId != null">AND class_id = #{classId}</if>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countList" resultType="long">
        SELECT COUNT(*) FROM sys_user WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%') OR real_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="userType != null">AND user_type = #{userType}</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="classId != null">AND class_id = #{classId}</if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, real_name, gender, phone, email, avatar,
            user_type, student_no, teacher_no, dept_name, class_id, status, remark, create_by)
        VALUES (#{username}, #{password}, #{realName}, #{gender}, #{phone}, #{email}, #{avatar},
            #{userType}, #{studentNo}, #{teacherNo}, #{deptName}, #{classId}, #{status}, #{remark}, #{createBy})
    </insert>

    <update id="update">
        UPDATE sys_user SET real_name = #{realName}, gender = #{gender}, phone = #{phone},
            email = #{email}, dept_name = #{deptName}, class_id = #{classId}, update_by = #{updateBy}
        WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE sys_user SET status = #{status} WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE sys_user SET password = #{password} WHERE id = #{id}
    </update>

    <update id="softDelete">
        UPDATE sys_user SET deleted = 1 WHERE id = #{id}
    </update>

    <delete id="physicalDelete">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>

    <delete id="deleteUserRoleByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>
</mapper>
